body {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin-bottom: 100px;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: flex;
  background-color: #2F80ED;
  height: 568px;
  width: 568px;
  z-index: 1;
  top: 64px;
  position: absolute;
  right: 0;
}

.logo__place_header {
  height: 32px;
  width: 183px;
  position: absolute;
}
.logo {
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header__title {
  display: flex;
  align-self: center;
  width: 730px;
  margin-left: 64px;
  z-index: 3;
}
.header__title_text {
  line-height: 96px;
  font-size: 102px;
}
.header__subtitle {
  display: flex;
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 3;

}
.header__subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.link {
  text-decoration: none;
}
.header__main-illustration-image {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
}
.header__main-illustration {
  display: flex;
  align-items: flex-end;
  z-index: 2;
}
.description {
  display: flex;
}
.two-columns {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  display: flex;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  flex-direction: column;
}
.two-columns__brief_text {
  margin: 0;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph_text {
  margin: 0;
  padding-bottom: 30px;
}
.two-columns__main-text {
  display: flex;
  min-width: 784px;
  width: 80%;
}
.two-columns__span-accent {
  font-weight: bolder;
}
.digits {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.section-title {

  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  width: 60%;
}
.section-title_text {
  margin-bottom: 0;
  margin-top: 100px;
  text-align: center;
}
.list {
  list-style: none;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;

}
.section-subtitle_text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.table__cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
  width: 1100px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.lists {
  width: 250px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  display: flex;
  margin-top: 100px;
  min-height: 890px;
  width: 100%;
  background-color: #F2F2F2;
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  display: flex;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.feynman__title-text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}
.feynman__subtitle {
  display: flex;
  align-self: center;
  z-index: 3;
}
.feynman__subtitle-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 0 auto;
}
.feynman__link {
  display: flex;
  right: 48px;
  position: absolute;
  top: 50%;
  z-index: 3;
}
.feynman__link-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.kaufman {
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: right -210px top;
  background-size: 877px 877px;
}
.section-title__theme_dark {
  color: white;
  max-height: 150px;
  line-height: 1.15;
  font-size:  60px;
  font-weight: bold;
  display: flex;
  align-self: center;
  margin-top: 40px;
  z-index: 1;
}
.section-subtitle__theme_dark {
  color: white;
  max-height: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-self: center;
  z-index: 1;
}
.table__cell_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 90px;
  margin-top: 0;
  z-index: 1;
  padding-left: 0;
}
.kaufman__lists {
  width: 200px;
}
.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
}
.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1F1F1F;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}
.logo__place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
}
.footer__column-links {
  margin-bottom: 16px;
}
.footer__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__list {
  padding: 0;
}
.footer__column-heading_text {
  margin: 0;
}
