.body {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin-bottom: 100px;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: flex;
  background-color: #2F80ED;
  height: 568px;
  width: 568px;
  z-index: 1;
  top: 64px;
  position: absolute;
  right: 0;
}

.logo_place_header {
  height: 32px;
  width: 183px;
  position: absolute;
}
.logo {
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header__title {
  display: flex;
  margin: 0;
  align-self: center;
  width: 730px;
  margin-left: 64px;
  z-index: 3;
}
.header__title_text {
  line-height: 96px;
  font-size: 102px;
}
.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 3;
  margin: 0;
}
.header__link {
  text-decoration: none;
  color: #2F80ED;
}
.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.description {
  display: flex;
}
.two-columns {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  display: flex;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  flex-direction: column;
  font-weight: normal;
}
.two-columns__main-text {
  display: flex;
  min-width: 784px;
  width: 80%;
  flex-direction: column;
}
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}
.two-columns__span-accent {
  font-weight: bolder;
}
.digits {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 100px;
  text-align: center;
}

.list {
  list-style: none;
}
.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
  width: 1100px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman {
  display: flex;
  margin-top: 100px;
  min-height: 890px;
  width: 100%;
  background-color: #F2F2F2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  margin: 0;
  display: flex;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
.feynman__subtitle {
  display: flex;
  align-self: center;
  z-index: 3;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}
.feynman__link {
  text-decoration: none;
  color: #2F80ED;
  display: flex;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  position: absolute;
  top: 50%;
  z-index: 3;
}
.kaufman {
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  position: absolute;
}
.kaufman__section-title_theme_dark {
  color: white;
}
.kaufman__section-title {
  margin: 0;
  line-height: 1.15;
  font-size:  60px;
  font-weight: bold;
  display: flex;
  align-self: center;
  margin-top: 90px;
  margin-bottom: 20px;
  z-index: 1;
}
.kaufman__section-subtitle_theme_dark {
  color: white;
}
.kaufman__section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-self: center;
  z-index: 2;
}

.kaufman__table {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 90px;
  margin-top: 0;
  z-index: 2;
  padding-left: 0;
}
.kaufman__table-cell {
  width: 200px;
  margin-top: 80px;
}
.kaufman__heading_theme_dark {
  color: white;
}
.kaufman__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.kaufman__text_theme_dark {
  color: white;
}
.kaufman__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1F1F1F;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content-copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
}
.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
}
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
